@import 'core/variables';
@import 'core/reset';

@import 'layout/header';
@import 'layout/cocktails';
@import 'layout/footer';

html {
    background-color:$color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $color-sand;
    margin: 3rem;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.356);

}